<!-- telling django we want to extend a template, so include all the prewirrten code -->
<!-- similar to a header file in php.  we only need include the page's unique content -->
<!-- insert it using block template tag and call it 'uniqueContent' since that is what django
is looking for since we called the block 'uniqueContent' in our base_layout.html page -->
{% extends 'base_layout.html' %}

{% block uniqueContent %}
    <h1>Ticket List</h1>
    <div class="tickets">

      <!--template to write python code, but does not output code-->
      {% for issueTicket in tickets %}
        <div class="articles">
            <!-- pick the href to be linked to the named capturing group from urls.py that -->
            <!-- has the line 'app_name = ticket_app' and look for the link named 'details'-->
            <!-- in case we have another URL called details in abother urls.py -->
            <!-- now we want to pass through the slug from our loop to the appropriate urls.py file to give it to its function to process-->
            <h2><a href="{% url 'ticket_app:details' slugToPassToFuntion=issueTicket.slug %}">
              <!-- template to retrieve the vairables to output-->
              <p>{{ issueTicket.title }}</p>
            </a></h2>
            <!--call the model method ticketDescriptionSnippet that takes the first 50 characters-->
            <p>{{ issueTicket.ticketDescriptionSnippet }}</p>
            <p>{{ issueTicket.date }}</p>
        </div>
      {% endfor %}

{% endblock %}
